<app-header></app-header>
    <div class="hate-container">
        <div class="title">
            Hate Your Job?
        </div>
        <div class="card">
            <div class="card-body" style="padding-top:0 !important;text-align: center;">
                   <img src="../../assets/gallop.png">
        <h5 style="text-align: center;margin-bottom: 1.0rem;margin-top: 1.0rem">You read the headline right.
        </h5>
        <p class="card-text">Nearly 9 out of 10 people worldwide hate their job. That’s a sobering reality from a recent Gallup
            Poll.</p>
        <p class="card-text">Many people in the world hate their job and especially their boss, the report says.</p>
        <p class="card-text">However, this rate differs in different countries. In the US, for instance, 70% of workers dislike
            their job. In other places, this number is slightly higher.</p>
        <p class="card-text">Now, that means that almost everyone you talk to at your place of work isn’t happy with their jobs.
        </p>
        <p class="card-text">And maybe you’re among these individuals. But as you can see from the statistics above, if you’re
            unhappy with your job, don’t worry, you are not alone.</p>
        <p class="card-text">And most probably, you’re searching for employment somewhere else. If this is you, then you have come
            to the right site.</p>
        <p class="card-text">Looking for a new workplace that one likes shouldn’t worry anyone anymore as we provide jobseekers
            the chance to search, view and apply for millions of liked jobs, in any industry, across America.
        </p>

                <!-- <p class="card-title">85% Of People Hate Their Job
                </p>
                <p class="card-text">
                    You read the headline right. Nearly 9 out of 10 people worldwide hate their job. That’s a sobering
                    reality from a recent Gallup Poll.
                </p>
                <p class="card-text">
                    Many people in the world hate their job and especially their boss, the report says.
                </p>
                <p class="card-text">
                    However, this rate differs in different countries. In the US, for instance, 70% of workers dislike
                    their job. In other places, this number is slightly higher.
                </p>
                <p class="card-text">
                    Now, that means that almost everyone you talk to at your place of work isn’t happy with their jobs.
                </p>
                <p class="card-text">
                    And maybe you’re among these individuals. But as you can see from the statistics above, if you’re
                    unhappy with your job, don’t worry, you are not alone.
                </p>
                <p class="card-text">
                    And most probably, you’re searching for employment somewhere else.
                </p>
                <p class="card-text">
                    If this is you, then you have come to the right site.
                </p>
                <p class="card-text">
                    Looking for a new workplace that one likes shouldn’t worry anyone anymore as we provide jobseekers
                    the chance to search, view and apply for millions of liked jobs, in any industry, across America.
                </p> -->
            </div>
        </div>
    </div>
<app-footer></app-footer>