    .hate-container {
        padding-top: 15px;
        background: black;
color: white;
        .title {
            align-items: center;
            display: flex;
            font-size: 25px;
            justify-content: center;
        }
        .card {
            padding: 30px;
            border: none !important;
            background: black;
color: white;
            .card-text{
                text-align: justify !important;
            }
        }
    }

@media only screen and (max-width: 768px) {
    .hate-container {
        .title {
            font-size: 22px !important;
        }
        .card {
            img {
                width: 100%;
            }
            .card-text{
                text-align: justify;
            }
        }
    }
}