.header {
  // background: #23355b;
  display: flex;
  align-items: center;
  height: 80px;
  // border-bottom: 5px solid lightgray;
  justify-content: center;
  background: black;
  .logo {
    width: 70%;
    img {
      width: 430px;
      height: auto;
      outline: 0;
    }
  }
  .menu {
    display: none;
  }
  .flag {
    width: 50px;
    height: 50px;
    margin-right: 50px;
  }
  .link-container {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    height: 70px !important;
  }
  .flag-c {
    display: none;
  }
  .logo {
    display: flex;
    align-items: center;
    width: 100% !important;
    justify-content: space-between;
    img {
      width: 260px !important;
    }
  }
  .menu {
    position: absolute;
    right: 20px;
    top: 20px;
    .menu-icon {
      width: 40px;
      height: 40px;
      padding-left: 10px;
    }
    .close-icon {
      width: 30px;
      height: 30px;
      padding-left: 15px;
    }
    display: block !important;
  }
  // .flag-c {
  //   position: absolute;
  //   right: 0px;
  //   .flag {
  //     margin-right: 0px !important;
  //     width: 45px !important;
  //     height: 45px !important;
  //     padding-right: 10px;

  //   }
  // }
  .link-container {
    width: 100%;
    position: absolute;
    background: #d33838;
    z-index: 999;
    display: block !important;
    text-align: center;
    p {
      margin: 20px;
      color: white;
      a {
        color: white !important;
      }
    }
  }
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ff0000;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-weight: 500;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
