<div id="mySidenav" class="sidenav">
    <!-- <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a> -->
    <a href="">Home</a>
    <a href="aboutus">About Us</a>
    <a href="contactus">Contact Us</a>
    <!-- <a href="hatejob">Hate Your Job?</a> -->
    <a href="privacy">Privacy Policy</a>
    <a href="terms">Terms Of Service</a>
    <a href="cookie">Cookie Policy</a>
    <!-- <a href="https://www.facebook.com/like.jobs">Facebook</a> -->
  </div>
<div class="header">
    <div class="menu">
        <img *ngIf="!open" class="menu-icon" (click)="openNav()" src="../../assets/menu(1).svg">
        <img *ngIf="open" class="close-icon" (click)="closeNav()" src="../../assets/closenew.svg">
    </div>
    <div class="logo">
        <img [routerLink]="['']" routerLinkActive="router-link-active" src="../../assets/halogo1.png">
    </div>
    <div class="flag-c">
        <img class="flag" src="../../assets/ic-usa.svg">
    </div>
</div>
<!-- <div *ngIf="open" class="link-container" [ngClass]="(open=='true')?'animated fadeInUp':'animated fadeInDown'">
    <p>
        <a href="aboutus">About Us</a>
    </p>
    <p>
        <a href="contactus">Contact Us</a>
    </p>
    <p>
        <a href="">Blog</a>
    </p>
    <p>
        <a href="privacy">Privacy Policy</a>
    </p>
    <p>
        <a href="terms">Terms Of Service</a>
    </p>
    <p>
        <a href="cookie">Cookie Policy</a>
    </p>
    <p>
        <a href="https://www.facebook.com/like.jobs">Facebook</a>
    </p>

</div> -->