<!-- <div class="footer-container">
    <div class="box">
      
        <div class="links">
            <p>
                <a href="">Home</a>
            </p>
            <p>
                <a href="hatejob">Hate Your Job?</a>
            </p>
            <p>
                <a href="aboutus">About Us</a>
            </p>
            <p>
                <a href="contactus">Contact Us</a>
            </p>
            <p>
                <a href="cookie">Cookie Policy</a>
            </p>
            <p>
                <a href="terms">Terms Of Service</a>
            </p>
            <p>
                <a href="privacy">Privacy Policy</a>
            </p>
        </div>
    </div>
</div> -->
<div class="copy">
    <!-- <img style="width: 70px" src="../../assets/like3.jpg"> -->
    <p class="copy-txt">© KILLER.JOBS 2020 ALL RIGHTS RESERVED</p>
    <div class="footer-container">
        <div class="box">

            <div class="links">
                <!-- <p>
                            <a href="">Home</a>
                        </p>
                        <p>
                            <a href="hatejob">Hate Your Job?</a>
                        </p> -->
                <p>
                    <a href="">HOME</a>
                </p>
                |
                <p>
                    <a href="aboutus">ABOUT US</a>
                </p>
                |
                <p>
                    <a href="contactus">CONTACT US</a>
                </p>
                |
                <!-- <p>
                    <a href="hatejob">HATE YOUR JOB?</a>
                </p>
                | -->
                <p>
                    <a href="privacy">PRIVACY POLICY</a>
                </p>
                |
                <p>
                    <a href="terms">TERMS OF SERVICE</a>
                </p>
                |
                <p>
                    <a href="cookie">COOKIE POLICY</a>
                </p>
                <!-- <p>
                    <a href="https://www.facebook.com/like.jobs">FACEBOOK</a>
                </p> -->
            </div>
        </div>
    </div>
    <!-- <p class="fb" style="text-align: center;margin: 0px;"><iframe style="border: none; overflow: hidden;"
            src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Flike.jobs&amp;width=133&amp;layout=button_count&amp;action=like&amp;size=large&amp;show_faces=false&amp;share=true&amp;height=46&amp;appId"
            width="164" height="46" frameborder="0" scrolling="no"></iframe></p> -->
</div>