.footer-container {
  display: flex;
  // margin-top: 30px;
  justify-content: center;
  position: absolute;
    width: 100%;
    bottom: 0;
  .box {
    width: 60%;
    // margin: 10px;
    .links {
      display: flex;
      justify-content: space-around;
      color: white;
      font-weight: 500;
      font-size: 14px;
      p {
        margin: 0;
        a {
          font-weight: 500;
          color: white !important;
        }
      }
    }
    hr {
      background: #23355b;
    }
  }
}
.copy {
  text-align: center;
  width: 100%;
  font-size: 15px;
  background-image: url('/assets/footer-new.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  // background: #23355b;
  position: relative;
  // color: white;
  height: 55%;
  // margin-top: 35px;
  align-items: center;
  .copy-txt {
  padding-top: 10px;
  position: absolute;
    bottom: 20px;
    color: white;
    left: 40%;
  font-weight: 500;
  margin: 0;
  }
}
.mob-footer {
  display: none;
}
@media only screen and (max-width: 768px) {
  .footer {
    display: none;
  }
  .footer-container {
    .box {
      width: 100% !important;
      margin: 0 !important;
      .fb {
        padding-top: 20px !important;
        margin: 0 !important;
      }

      .links {
        display: none !important;
      }
      hr {
        margin: 0 0 10px !important;
      }
    }
  }
          .copy {
            height: 30% !important;
            // background-size: contain !important;
            .copy-txt {
              // display: none;
              left: 0% !important;
              text-align: center;
              width: 100%;
              bottom: 10px !important;
              // margin-bottom: 10px !important;
            }
          }
  .mob-footer {
    img {
      width: 100%;
    }
    text-align: center;
    display: block;
    margin-top: 15px;
  }
}
