.about-container {
        padding-top: 15px;
        background: black;
        .title {
            color: white;
            align-items: center;
            display: flex;
            justify-content: center;
            font-size: 25px;
        }
        .card {
            padding: 30px;
            border: none !important;
            color: white;
            background: black;
        }
    }

@media only screen and (max-width: 768px) {
    .about-container {
        .title {
            font-size: 22px !important;
        }
    }
}