<app-header></app-header>
<div class="about-container">
    <div class="title">
        About Us
    </div>

    <div class="card">
        <div class="card-body" style="padding-top:0 !important">
            <p class="card-text">Based in Steubenville, Ohio, we just launched Killer.jobs in August of 2020.
            </p>
            <p class="card-text">
                Our job search engine is built with powerful technology that matches and connects job seekers with
                thousands of newly posted killer job openings daily from small, mid-size, and large companies
                nationwide.
            </p>
            <p class="card-text">
                Looking for a new workplace that one likes shouldn’t worry anyone anymore as we provide jobseekers the
                chance to search, view, and apply for jobs, in any industry, across America
            </p>
            <p class="card-text">
                At Killer.jobs, we're dedicated to making your job search process simple and stress-free.</p>
            <p class="card-text">
                With a single job title or keyword search, you'll find the latest and most relevant job openings on
                trusted job search sites like Jobs2Careers, ZipRecruiter, Glassdoor, CareerBuilder, Dice, Snagajob,
                Linkedin, and many other popular job sites.</p>
            <p class="card-text">
                Good luck with your job search on our site!</p>
        </div>
    </div>
</div>
<app-footer></app-footer>