<!-- <app-header></app-header> -->
<div id="mySidenav" class="sidenav">
    <!-- <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a> -->
    <a href="">Home</a>
    <a href="aboutus">About Us</a>
    <a href="contactus">Contact Us</a>
    <!-- <a href="">Blog</a> -->
    <a href="privacy">Privacy Policy</a>
    <a href="terms">Terms Of Service</a>
    <a href="cookie">Cookie Policy</a>
    <!-- <a href="https://www.facebook.com/like.jobs">Facebook</a> -->
</div>
<div class="header">
    <div class="header-container">
        <div class="logo">
            <img [routerLink]="['']" routerLinkActive="router-link-active" src="../../assets/halogo1.png">
        </div>
        <div class="menu">
            <img *ngIf="!open" class="menu-icon" (click)="openNav()" src="../../assets/menu.svg">
            <img *ngIf="open" class="close-icon" (click)="closeNav()" src="../../assets/closenew.svg">
        </div>
        <div class="header-control-container">
            <div class="input-icon">
                <mat-icon class="search">search</mat-icon>
                <input class="form-controler" [(ngModel)]="keyword" name="keyword" placeholder="Job Title or Keyword"
                    readonly>
            </div>
            <div class="input-icon ml-15">
                <mat-icon class="gps">gps_fixed</mat-icon>
                <input class="form-controler " [(ngModel)]="location" name="location" placeholder="Location" readonly>
            </div>
            <div class="input-icon">
                <button mat-button class="button ml-15" (click)="goHome()">
                    Search More Jobs </button>
            </div>
        </div>
        <!-- <div class="flag-c">
            <img class="flag" src="../../assets/ic-usa.svg">
        </div> -->
    </div>
</div>
<div class="control-container">
    <div class="input-icon">
        <mat-icon class="search">search</mat-icon>
        <input class="form-controler" [(ngModel)]="keyword" name="keyword" placeholder="Job Title or Keyword" readonly>
    </div>
    <div class="input-icon mt-10px">
        <mat-icon class="gps">gps_fixed</mat-icon>
        <input class="form-controler " [(ngModel)]="location" name="location" placeholder="Location" readonly>
    </div>
    <div class="input-icon mt-10px">
        <button mat-button class="button" (click)="goHome()">
            < Back to search more jobs </button>
    </div>
</div>
<mat-progress-bar *ngIf="loading" mode="indeterminate">
</mat-progress-bar>
<div class="list">
    <ng-container *ngIf="jobsList">
        <div class="list-container">
            <div class="margin-10">
                <div class="list-header">
                    <div *ngIf="total && location">
                        <p style="color: #ff0000; margin: 0"> {{total}} Jobs Found in {{location}}.</p>
                    </div>
                    <div style="display: flex;height: fit-content;">
                        <button [ngClass]="{select:filter === 'r'}" (click)="setFilter('r')">Relevance</button>
                        <button [ngClass]="{select:filter === 'd'}" (click)="setFilter('d')">Date</button>
                    </div>
                </div>
                <div>
                    <div class="row mt-10px" *ngFor="let job of jobsList;let i = index">
                        <div class="col-10">
                            <p class="jobtitle" (click)="apply(job)">{{job.title}}</p>
                            <!-- <p style="margin: 0;font-size: 14px;">{{job.description}}</p> -->
                            <div style="display: flex">
                                <mat-icon style="font-size: 16px" matSuffix>work</mat-icon>
                                <span style="font-size: 12px;font-weight: 500;color: white;">{{job.company}}</span>
                            </div>
                            <div style="display: flex">
                                <mat-icon style="font-size: 16px" matSuffix>location_on</mat-icon>
                                <span style="font-size: 12px;font-weight: 500;color: white;">{{job.city[0]}}</span>
                            </div>
                            <div style="display: flex">
                                <mat-icon style="font-size: 16px" matSuffix>event</mat-icon>
                                <span style="font-size: 12px;font-weight: 500;color: white;">{{job.date | date:'medium'}}</span>
                            </div>
                        </div>
                        <div class="col-2" style="display: flex; align-items:center;">
                            <button class="apply-button" (click)="apply(job)">APPLY</button>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-12 mt-10px"> -->
                <div class="pagination-container mt-10px" *ngIf="pagination">
                    <p class="action-btn" [ngClass]="{disabled:pagination.currentPage === 1}"
                        (click)="setPage(pagination.currentPage - 1)">
                        << </p>
                            <p class="pagination" *ngFor="let page of pagination.pages"
                                [ngClass]="{active:pagination.currentPage === page}" (click)="setPage(page)">
                                {{page}}
                            </p>
                            <p class="action-btn"
                                [ngClass]="{disabled:pagination.currentPage === pagination.totalPages}"
                                (click)="setPage(pagination.currentPage + 1)">>></p>
                </div>
                <!-- </div> -->
            </div>
        </div>
    </ng-container>
</div>