.header {
  // background: #23355b;
  display: flex;
  height: 80px;
  background: black;
  // border-bottom: 5px solid lightgray;
  justify-content: center;
  .header-container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      img {
        width: 280px;
        height: auto;
      }
    }
    .menu {
      display: none;
    }
    .flag {
      width: 50px;
      height: 50px;
      margin-right: 50px;
    }
    .header-control-container {
      display: flex;
      align-items: center;
      width: 100%;
      margin-left: 30px;
      .input-icon {
        display: flex;
        align-items: center;
        position: relative;
        .search {
          position: absolute;
          align-items: center;
          display: flex;
          padding: 5px;
        }
        .gps {
          position: absolute;
          align-items: center;
          display: flex;
          padding: 5px;
        }
            .form-controler {
              display: block;
              width: 225px;
              border-top: 2px solid #ff0000;
              border-bottom: 2px solid #ff0000;
              border-right: 2px solid #ff0000;
              border-left: 2px solid #ff0000;
              // border-radius: 5px;
              padding: 0.375rem 0.75rem;
              font-size: 0.9rem;
              line-height: 1.5;
              text-align: center;
              height: 40px;
              // color: #495057;
              color: black;
              background-color: #fff;
              outline: 0;
              background-clip: padding-box;
              // border: 1px solid #ced4da;
              border-radius: 0.25rem;
              transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            }
            .button {
              background: #ff0000;
              height: 40px;
              width: 150px;
              border: none;
              border-radius: 1.3rem;
              outline: 0;
              font-size: 0.9rem;
              // border-color: #3b5998;
              // border-color: #e2652d;
              color: white;
            }
      }
     
    }
  }
}

.ml-15 {
  margin-left: 15px;
}
.list {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  background: black;
  .list-container {
    width: 80%;
  }
}
.margin-10 {
  margin: 10px;
}
.list-header {
  display: flex;
  justify-content: space-between;
}
.apply-button {
  background: #ff0000;
  // background: #3b5998;
  border-color: #ff0000;
  // border-color: #3b5998;
  color: white;
  outline: 0;
  border-radius: 5px;
}
.select {
  background: darkgray;
}
.pagination-container {
  display: flex;
  justify-content: space-evenly;
  .pagination {
    border: 1px solid #ff0000;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
    justify-content: center;
  }
  .action-btn {
    width: 40px;
    height: 25px;
    border-radius: 5px;
    color: white;
    background: #ff0000;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .active {
    background: #ff0000;
    color: white;
  }
  .disabled {
    display: none;
  }
}
.mt-10px {
  margin-top: 10px;
}
mat-icon {
  color: #ff0000;
  cursor: pointer;
  // color: #e2652d;
}
button:hover {
  background: #ff0000 !important;
  // border: 3px double !important;
}
.jobtitle {
  color: #d33838;
  font-weight: 600;
  cursor: pointer;
  margin: 0 !important;
}
.jobtitle:hover {
  color: #3c7875 !important;
}

.control-container {
  display: none;
}
@media only screen and (max-width: 768px) {
.header {
  display: none !important;
}
  .header-control-container {
    display: none !important;
  }
  .header-container {
    width: 100% !important;
  }
  .logo {
    display: flex;
    align-items: center;
    width: 100% !important;
    justify-content: space-between;
    img {
      width: 260px !important;
    }
  }
  .menu {
    position: absolute;
    right: 20px;
    top: 20px;
    .menu-icon {
      width: 40px;
      height: 40px;
      padding-left: 10px;
    }
    .close-icon {
      width: 30px;
      height: 30px;
      padding-left: 15px;
    }
    display: block !important;
  }
  .control-container {
    display: block !important;
    justify-content: center;
    padding: 15px;
    width: 100%;
    background: #3c7875;
    .input-icon {
      position: relative;
      .search {
        position: absolute;
        top: 25%;
        left: 7px;
      }
      .gps {
        position: absolute;
        top: 25%;
        left: 7px;
      }
      .form-controler {
        margin-top: 15px;
        display: block;
        width: 100%;
      border: 2px double #365e5c;
      // border-radius: 5px;
      padding: 0.375rem 0.75rem;
      font-size: 1.1rem;
      line-height: 1.5;
      text-align: center;
      height: 45px;
      // color: #495057;
      color: black;
      background-color: #fff;
      outline: 0;
      background-clip: padding-box;
      // border: 1px solid #ced4da;
      border-radius: 0.25rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    .button {
      background: #d33838;
      height: 45px;
      width: 100%;
      border: none;
      border-radius: 1.3rem;
      outline: 0;
      font-size: 1.1rem;
      // border-color: #3b5998;
      // border-color: #e2652d;
      color: white;
    }
  }
  }
  .mt-20 {
    margin-top: 20px;
  }
  .list {
    .list-container {
      width: 90% !important;
    }
    .row {
      .col-9 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
      }
      .col-10 {
        flex: 0 0 75%;
        max-width: 75%;
      }
    }
  }
  .margin-10 {
    margin: 0 !important;
  }
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #d33838;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-weight: 500;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
::ng-deep .mat-progress-bar-fill::after {
  background-color: #d33838;
}

::ng-deep .mat-progress-bar-buffer {
  background: #E4E8EB;
}

::ng-deep .mat-progress-bar {
  border-radius: 2px;
}