<app-header></app-header>
<div class="terms-container">
    <div class="title">
        Terms of Service
    </div>
    <div class="card">
        <div class="card-body" style="padding-top:0 !important">
            <!-- <p class="card-title">85% Of People Hate Their Job
                </p> -->
            <p class="card-text">
                1. Terms
            </p>
            <p class="card-text">
                By accessing the website at https://killer.jobs, you are agreeing to be bound by these terms of service,
                all applicable laws, and regulations, and agree that you are responsible for compliance with any
                applicable local laws. If you do not agree with any of these terms, you are prohibited from using or
                accessing this site. The materials contained in this website are protected by applicable copyright and
                trademark law.
            </p>
            <p class="card-text">
                2. Use License
            </p>
            <p class="card-text">
                Permission is granted to temporarily download one copy of the materials (information or software) on
                killer.jobs' website for personal, non-commercial transitory viewing only. This is the grant of a license,
                not a transfer of title, and under this license, you may not:
                modify or copy the materials;
            </p>
            <p class="card-text">
                use the materials for any commercial purpose, or any public display (commercial or non-commercial);
                attempt to decompile or reverse engineer any software contained on killer.jobs' website;
                remove any copyright or other proprietary notations from the materials; or
                transfer the materials to another person or "mirror" the materials on any other server.
                This license shall automatically terminate if you violate any of these restrictions and may be
                terminated by killer.jobs at any time. Upon terminating your viewing of these materials or upon the
                termination of this license, you must destroy any downloaded materials in your possession whether in
                electronic or printed format.
            </p>
            <p class="card-text">
                3. Disclaimer
            </p>
            <p class="card-text">
                The materials on killer.jobs' website are provided on an 'as is' basis. killer.jobs makes no warranties,
                expressed or implied, and hereby disclaims and negates all other warranties including, without
                limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or
                non-infringement of intellectual property or other violation of rights.
                Further, killer.jobs does not warrant or make any representations concerning the accuracy, likely results,
                or reliability of the use of the materials on its website or otherwise relating to such materials or on
                any sites linked to this site.
            </p>
            <p class="card-text">
                4. Limitations
            </p>
            <p class="card-text">
                In no event shall killer.jobs or its suppliers be liable for any damages (including, without limitation,
                damages for loss of data or profit, or due to business interruption) arising out of the use or inability
                to use the materials on killer.jobs' website, even if killer.jobs or a killer.jobs authorized representative
                has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do
                not allow limitations on implied warranties, or limitations of liability for consequential or incidental
                damages, these limitations may not apply to you.
            </p>
            <p class="card-text">
                5. Accuracy of materials
            </p>
            <p class="card-text">
                The materials appearing on killer.jobs' website could include technical, typographical, or photographic
                errors. killer.jobs does not warrant that any of the materials on its website are accurate, complete or
                current. killer.jobs may make changes to the materials contained on its website at any time without
                notice. However, killer.jobs does not make any commitment to update the materials.
            </p>
            <p class="card-text">
                6. Links
            </p>
            <p class="card-text">
                killer.jobs has not reviewed all of the sites linked to its website and is not responsible for the
                contents of any such linked site. The inclusion of any link does not imply endorsement by killer.jobs of
                the site. Use of any such linked website is at the user's own risk.
            </p>
            <p class="card-text">
                7. Modifications
            </p>
            <p class="card-text">
                killer.jobs may revise these terms of service for its website at any time without notice. By using this
                website you are agreeing to be bound by the then current version of these terms of service.
            </p>
            <p class="card-text">
                8. Governing Law
            </p>
            <p class="card-text">
                These terms and conditions are governed by and construed by the laws of Ohio and you irrevocably submit
                to the exclusive jurisdiction of the courts in that State or location.
            </p>
        </div>
    </div>
</div>
<app-footer></app-footer>