<app-header></app-header>
<div *ngIf="!isMob" class="video-cont">
    <video id="video" class="video-fluid z-depth-1" [muted]="'muted'" (ended)="videoEnded($event)"  disablePictureInPicture controlsList="nodownload" controls>
        <source src="assets/video-1.mp4" type="video/mp4" />
    </video>
</div>
<div *ngIf="isMob" class="video-cont-mob">
    <video id="video-2" #videoPlayer class="video-fluid z-depth-1" preload="auto" (ended)="vidEnded($event)" [muted]="'muted'" disablePictureInPicture controlsList="nodownload" controls>
        <source src="assets/video-5.mp4" type="video/mp4" />
    </video>
</div>
<div class="page-container">
    <div class="width-container">
        <div class="tagline-container">
            <!-- <p>Search America's Most Liked
            </p>
            <p>Jobs By Job Title Or Keyword!</p> -->
            <p>Find a <span>Killer Job</span> by Job Title or Keyword!</p>
            <!-- <img src="../../assets/search-text.jpg"> -->
        </div>
        <div style="padding: 0 !important;" class="tagmob-container">
            <!-- <p>Search America's Most Liked Jobs By Job Title, Keyword Or Sector!</p> -->
            <!-- <img style="width: 100%;" src="../../assets/search-text.jpg"> -->
            <p>Find a <span>Killer Job</span> by<br> Job Title or Keyword!</p>
        </div>
        <div class="control-container">
            <div class="input-icon">
                <mat-icon class="search">search</mat-icon>
                <!-- <span class="search">((()))</span> -->
                <input class="form-controler" [(ngModel)]="keyword" name="keyword" placeholder="Job Title or Keyword">
            </div>
            <div class="input-icon ml-15 mt-20">
                <mat-icon class="gps">gps_fixed</mat-icon>
                <!-- <span class="gps">((()))</span> -->
                <input class="form-controler " [(ngModel)]="location" name="location" placeholder="Location">
            </div>
            <div class="input-icon ml-15 mt-20">
                <button mat-button class="button" (click)="findJobs()">
                    Find Jobs </button>
            </div>

        </div>
        <div style="font-size: 1.55rem !important;" class="tagline-container">
            <!-- <p>Search America's Most Liked Jobs By Job Title, Keyword Or Sector!</p> -->
            <!-- <img style="width: 100%;" src="../../assets/search-text.jpg"> -->
            <p>Companies that are hiring today: Door Dash - Home Advisor - Shipt Shopper - Amazon Jobs</p>
        </div>
        <div style="font-size: 1.5rem !important;font-weight: 500 !important;" class="tagmob-container">
            <!-- <p>Search America's Most Liked Jobs By Job Title, Keyword Or Sector!</p> -->
            <!-- <img style="width: 100%;" src="../../assets/search-text.jpg"> -->
            <p>Companies that are hiring today:<br> Door Dash - Home Advisor - Shipt Shopper - Amazon Jobs</p>
        </div>
        <!-- <div class="or-container">
            <img src="../../assets/Or-Horz1.png">
        </div> -->
        <!-- <p class="sector">Click On Any Keyword Listed Below</p> -->
        <!-- <p class="mob-sector">Click On Any Job Sector Below In Alphabetical Order</p> -->
        <!-- <img class="mob-sector" style="width: 100%;" src="../../assets/search-text1.jpg"> -->

        <!-- <div class="row box-container">
            <div class="col-3 box" style="background: #f2bf5e">
                <div *ngFor="let ind1 of sect1;let i = index">
                    <br *ngIf="i != 0 && sect1[i][0] != sect1[i-1][0]">
                    <p (click)="aasignValue(ind1)">{{ind1}}</p>
                </div>
            </div>
            <div class="col-3 box" style="background: #ff6161">
                <div *ngFor="let ind2 of sect2;let i = index">
                    <br *ngIf="i != 0 && sect2[i][0] != sect2[i-1][0]">
                    <p (click)="aasignValue(ind2)">{{ind2}}</p>
                </div>
            </div>
            <div class="col-3 box" style="background: #536eb7">
                <div *ngFor="let ind3 of sect3;let i = index">
                    <br *ngIf="i != 0 && sect3[i][0] != sect3[i-1][0]">
                    <p (click)="aasignValue(ind3)">{{ind3}}</p>
                </div>
            </div>
            <div class="col-3 box" style="background: #75cba8">
                <div *ngFor="let ind4 of sect4;let i = index">
                    <br *ngIf="i != 0 && sect4[i][0] != sect4[i-1][0]">
                    <p (click)="aasignValue(ind4)">{{ind4}}</p>
                </div>
            </div>
        </div> -->
    </div>
</div>
<!-- <div class="accordian-cont">
    <mat-accordion class="accord-1">
        <mat-expansion-panel>
            <mat-expansion-panel-header style="background: #f2bf5e;border-color: #f2bf5e;min-height: 60px !important;">
                <mat-panel-title style="justify-content: center;font-size: 24px;font-weight: bold">
                    A-C
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div style="text-align: center;padding: 3px;" *ngFor="let ind1 of sect1;let i = index">
                <br *ngIf="i != 0 && sect1[i][0] != sect1[i-1][0]">
                <p style="margin: 0 !important;font-size: 21px;font-weight: bold;" (click)="aasignValue(ind1)">{{ind1}}
                </p>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion class="accord-2">
        <mat-expansion-panel>
            <mat-expansion-panel-header style="background: #ff6161;border-color: #ff6161;min-height: 60px !important;">
                <mat-panel-title style="justify-content: center;font-size: 24px;font-weight: bold;">
                    D-H
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div style="text-align: center;padding: 3px;" *ngFor="let ind2 of sect2;let i = index">
                <br *ngIf="i != 0 && sect2[i][0] != sect2[i-1][0]">
                <p style="margin: 0 !important;font-size: 21px;font-weight: bold;" (click)="aasignValue(ind2)">{{ind2}}
                </p>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion class="accord-3">
        <mat-expansion-panel>
            <mat-expansion-panel-header style="background: #536eb7;border-color: #536eb7;min-height: 60px !important;">
                <mat-panel-title style="justify-content: center;font-size: 24px;font-weight: bold">
                    I-P
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div style="text-align: center;padding: 3px;" *ngFor="let ind3 of sect3;let i = index">
                <br *ngIf="i != 0 && sect3[i][0] != sect3[i-1][0]">
                <p style="margin: 0 !important;font-size: 21px;font-weight: bold" (click)="aasignValue(ind3)">{{ind3}}
                </p>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion class="accord-4">
        <mat-expansion-panel>
            <mat-expansion-panel-header style="background: #75cba8;border-color: #75cba8;min-height: 60px !important;">
                <mat-panel-title style="justify-content: center;font-size: 24px;font-weight: bold">
                    R-Z
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div style="text-align: center;padding: 3px;" *ngFor="let ind4 of sect4;let i = index">
                <br *ngIf="i != 0 && sect4[i][0] != sect4[i-1][0]">
                <p style="margin: 0 !important;font-size: 21px;font-weight: bold;" (click)="aasignValue(ind4)">{{ind4}}
                </p>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div> -->

<!-- <div class="mob-content-container">
    <div class="content">
        <p>
            At Like.jobs, we're dedicated to making your job search process simple and stress-free. Our job search
            engine is built with powerful technology that matches the most liked jobs in your area with the right
            people, like yourself.</p>
        <p>With a single job title or keyword search, you'll find the latest and most relevant job openings on trusted
            job search sites like Jobs2Careers, ZipRecruiter, Glassdoor, CareerBuilder, Linkedin, and many other popular job sites.
        </p>
        <p>Good luck with your job search on our site!</p>
    
        <div class="img-container">
            <img class="link" src="../../assets/linkedin.png">
            <img class="j2c" src="../../assets/like-jobs4.jpg">
            <img class="zipr" src="../../assets/like-jobs1.png">
            <img class="cb" src="../../assets/like-jobs2.png">
            <img class="gd" src="../../assets/glass.jpg">
        </div>
    </div>
</div> -->

<app-footer></app-footer>