@font-face {
  font-family: proxi;
  src: url(../../assets/fonts/proximanova-regular.otf) format("opentype");
}
@font-face {
  font-family: avenir;
  src: url(../../assets/fonts/AvenirLTStd-Black.otf) format("opentype");
}
@font-face {
  font-family: oswald;
  src: url(../../assets/fonts/Oswald-Medium.ttf) format("truetype");
}
.video-cont {
  width: 100%;
  height: 100%;
  background: black;
  position: relative;
  .play-but {
    position: absolute;
    left: 50%;
    top: 50%;
    mat-icon {
      font-size: 50px;
      width: 50px;
      height: 50px;
      color: white;
      border: 1px solid white;
      border-radius: 50%;
    }
  }
  .video-fluid {
    width: 100%;
    height: 100%;
    outline: 0 !important;
    object-fit: cover;
  }
}
video::-internal-media-controls-download-button {
  display:none;
  }
  video::-webkit-media-controls-enclosure {
  overflow:hidden;
  }
  // video::-webkit-media-controls-fullscreen-button {
  //   display: none;
  //   }
  
    video::-webkit-media-controls-timeline {
      display: none;
  }
  // video::-webkit-media-controls-current-time-display{
  //   display: none;
  // }
video::-webkit-media-controls-volume-slider {
  // display: none;
}
video::-webkit-media-controls-mute-button {
  // display: none;
}
video::-webkit-media-controls-toggle-closed-captions-button {
  display: none;
}
  video::-webkit-media-controls-play-button {
    // color: white;
    // position: absolute;
    // top: -50%;
    // left: 50%;
    }
.page-container {
  // margin-top: 20px;
  background: black;
  display: flex;
  justify-content: center;
  padding: 20px;
  .width-container {
    width: 80%;
    .tagline-container {
      // font-size: 45px;
      font-size: 3.5rem;
      padding: 10px;
      font-family: oswald;
      line-height: 1.2;
      // font-weight: 700;
      text-align: center;
      p {
        margin: 0 !important;
        color: white;
        span {
          color: #ff0000;
        }
      }
    }
    .tagmob-container {
      display: none;
      font-family: oswald;
    }
    .control-container {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      .input-icon {
        display: flex;
        align-items: center;
        position: relative;
        .search {
          position: absolute;
          align-items: center;
          display: flex;
          padding: 5px;
          color: black;
        }
        .gps {
          position: absolute;
          align-items: center;
          display: flex;
          padding: 5px;
          color: black;

        }
        .form-controler {
          display: block;
          width: 320px;
          border: 4px solid #ff0000;
          // border-radius: 5px;
          padding: 0.375rem 0.75rem;
          font-size: 1.3rem;
          line-height: 1.5;
          text-align: center;
          height: 65px;
          // color: #495057;
          color: black;
          background-color: #fff;
          outline: 0;
          background-clip: padding-box;
          // border: 1px solid #ced4da;
          border-radius: 0.25rem;
          transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }
        .button {
          background: #ff0000;
          height: 65px;
          width: 200px;
          border: none;
          border-radius: 1.3rem;
          outline: 0;
          font-size: 1.4rem;
          // border-color: #3b5998;
          // border-color: #e2652d;
          color: white;
        }
      }
    }
    .or-container {
      text-align: center;
      // padding: 10px;
      padding-top: 15px;
      img {
        width: 250px;
      }
    }
    .sector {
      font-size: 2.8rem;
      text-align: center;
      color: white;
      font-weight: 700;
    }
    .mob-sector {
      display: none;
    }
    .box-container {
      text-align: center;
      padding: 5px;
      .box {
        // border: 1px solid white;
        padding: 10px;
        p {
          margin: 0;
          font-weight: 500;
          font-family: avenir;
          cursor: pointer;
        }
      }
    }
  }
}
.pad-0 {
  padding: 0 !important;
}
.mob-content-container {
  display: flex !important;
  justify-content: center;
  margin-top: 20px;
  .content {
    width: 75%;
    text-align: center;
    img {
      width: 400px;
    }
    p {
      text-align: justify;
      // font-weight: bold;
      font-size: 23px;
    }
    .img-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .link {
        width: 185px;
      }
      .j2c {
        width: 185px;
      }
      .zipr {
        width: 185px;
        height: 110px;
        object-fit: cover;
      }
      .cb {
        width: 225px;
      }
      .gd {
        width: 225px;
      }
    }
  }
}
.content-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  .box-width {
    width: 80%;
    .fix-left-right {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .left {
      text-align: center;
    }
    .right {
      text-align: center;
      p {
        font-family: proxi;
        text-align: justify;
        font-size: 18px;
        line-height: normal;
        letter-spacing: normal;
      }
    }
  }
}
.ml-15 {
  margin-left: 15px;
}
.accordian-cont {
  display: none;
}
button:hover {
  background: #da5858 !important;
}
.video-cont-mob {
  display: none;
}
@media only screen and (max-width: 768px) {
  .video-cont-mob {
    display: block !important;
    width: 100% !important;
    height: 365px !important;
    background: black;
    .video-fluid {
      width: 100%;
      height: 100%;
      outline: 0 !important;
      object-fit: cover;
    }
  }
  .video-cont {
    display: none !important;
  }
  .mt-20 {
    margin-top: 20px !important;
    margin-left: 0 !important;
  }
  .page-container {
    display: block !important;
    padding: 10px 20px !important;
    .width-container {
      width: 100% !important;
      text-align: center;
      .tagline-container {
        // font-size: 1.1rem !important;
        display: none;
      }
      .tagmob-container {
        display: initial !important;
        font-size: 2.5rem;
        padding: 10px;
        line-height: 1.2;
        font-weight: 700;
        text-align: center;
        p {
          margin: 0 !important;
          color: white;
          span {
            color: #ff0000;
          }
        }
      }
      .control-container {
        display: block !important;
        // margin: 0 !important;
        // .input-icon {
        //   margin: 0 !important;
        // }
          .form-controler {
            width: 100% !important;
          }
          .button {
            width: 100% !important;
          }
      }
      .or-container {
        img {
          width: 200px !important;
        }
      }
      .sector {
        display: none !important;
      }
      .mob-sector {
        display: initial !important;
        font-size: 1.85rem !important;
        text-align: center !important;
        color: white;
        font-weight: 700;
        line-height: 1;
      }
      .box-container {
        display: none !important;
        .box {
          max-width: 100% !important;
        }
      }
    }
  }
  .content-container {
    display: none !important;
  }
  .mob-content-container {
    margin-top: 20px;
    .content {
      width: 90%;
      img {
        width: 100%;
      }
      p {
        text-align: left;
        font-size: 23px !important;
        line-height: normal;
        word-spacing: normal;
      }
      .img-container {
        display: block !important;
        .link {
          width: 300px !important;
        }
        .j2c {
          width: 100% !important;
          margin-top: 10px;
        }
        .cb {
          width: 100% !important;
        }
        .gd {
          width: 100% !important;
        }
        .zipr {
          width: 100% !important;
        }
      }
    }
  }
  .accordian-cont {
    display: initial !important;
    // margin: 10px;
  }
}
mat-icon {
  color: #3c7875;
  cursor: pointer;
  // color: #e2652d;
}