.privacy-container {
    padding-top: 15px;
    background: black;
color: white;
    .title {
        align-items: center;
        display: flex;
        font-size: 25px;
        justify-content: center;
    }
    .card {
        padding: 30px;
        border: none !important;
        background: black;
color: white;
    }
}

@media only screen and (max-width: 768px) {
.privacy-container {
    .title {
        font-size: 22px !important;
    }
}
}