.contact-container {
  padding-top: 15px;
background: black;
color: white;
  .title {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 27px;
  }
  .card {
    padding: 30px;
    background: black;
    border: none !important;
color: white;

    .card-body {
      text-align: center;
      
    }
  }
}

@media only screen and (max-width: 768px) {
  .about-container {
    .title {
      font-size: 22px !important;
    }
  }
.contact-container{
  height: calc(70% - 70px);
}
}
