<app-header></app-header>
<div class="contact-container">
    <div class="title">
        Contact Us
    </div>
    <div class="card">
        <div class="card-body" style="padding-top:0 !important">
            <p class="card-text">killer.jobs
            </p>
            <div>
                <mat-icon>location_city</mat-icon>
                <p class="card-text">
                    Steubenville, Ohio
                </p>
            </div>
            <div>
                <mat-icon>email</mat-icon>
                <p class="card-text">
                    killerjobs@mail.com
                </p>
            </div>
            <!-- <br>
            <br> -->
        </div>
    </div>
</div>
<!-- <div style="position: absolute;bottom:0;width: 100%"> -->
    <app-footer></app-footer>
<!-- </div> -->