/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  background: black;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-option:focus:not(.mat-option-disabled),
.mat-option:hover:not(.mat-option-disabled) {
  background: none !important;
}
.mat-option-text {
  font-weight: 500 !important;
}
@media only screen and (max-width: 768px) {
  .accordian-cont {
    display: initial !important;
    .accord-1 {
      .mat-expansion-panel-content {
        background: #f2bf5e !important;
      }
    }
    .accord-2 {
      .mat-expansion-panel-content {
        background: #ff6161;
      }
    }
    .accord-3 {
      .mat-expansion-panel-content {
        background: #536eb7;
      }
    }
    .accord-4 {
      .mat-expansion-panel-content {
        background: #75cba8;
      }
    }
  }
}
